RewriteEngine On

# Ak existuje priamy súbor alebo priečinok, použi ho
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Všetko ostatné presmeruj na index.php
RewriteRule ^(.*)$ index.php [QSA,L]
